<!-- li.html: 表示文章列表中的每一篇文章占据的区域 -->
<!-- 包含这篇文章的标题、作者、摘要等内容 -->

<!-- TODO: 添加缩略图 -->

<article>
    <header>
        <h2 class="article-title">
            <a href="{{ .Permalink | safeURL }}">{{ .Title }}</a>
        </h2>

        <div class="article-info">
            {{ with $section := (.Site.GetPage .Section) }}
            <a href="{{$section.Permalink | safeURL}}">[{{ $section.Title }}]</a>
            {{ end }}
            <span title="最后修改时间">{{ .Lastmod.Format "2006.01.02" }}</span>
            <span>字数: {{ .WordCount }}</span>
        </div>

    </header>

    <div>
        <span class="article-summary">
            {{ chomp .Summary }}
        </span>
        {{ if .Truncated }}
        ... ...<a href="{{ .Permalink | safeURL }}">查看全文</a>
        {{ end }}
    </div>

</article>