<article>
    <header>
        <h2>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
        </h2>
        <span class="post-date">{{ .Date.Format "2006.10.25" }},</span>
        <a class="post-author"> {{ .Params.Author }} </a>
    </header>

    <div>
        <span class="artical-summary">
            {{ .Summary }}
        </span>
        {{ if .Truncated }}
            ......
            <a href="{{ .Permalink }}" >更多
                <span aria-hidden="true">&raquo;</span>
            </a>
        {{ end }}
    </div>
    
</article>
