<!-- "当前分类"包含的所有文章列表 -->
<!-- 还包括文章的数量、分类的描述等 -->

<html>
{{ partial "head.html" . }}

<body>
    {{ partial "header.html" . }}

    <div class="wrap-center">
        <div class="main-container">
            <div>
                <span style="font-size: 1.5em; font-weight: bold;">{{ .Title }}</span>
                <span style="font-size: 0.8em;" class="text-secondary">
                    <i class="fa fa-file-text-o"></i>
                    文章数：{{ .Data.Pages | len }}</span>
            </div>
            <div style="font-size:0.8em" class="text-secondary">
                {{ (.Site.GetPage .Section).Description }}
            </div>
            <hr />

            {{ partial "articlelist.html" .}}
        </div>
    </div>

    {{ partial "footer.html" . }}
</body>

</html>