<!-- 分类页面，默认是 categories，可以看到一个包含所有章节的列表 -->
<!-- Context 是 Page -->

<html>
{{ partial "head.html" . }}

<body>
    {{ partial "header.html" . }}

    <div class="category-list container">
        <h3>{{ .Title }}</h3>
        <p class="text-secondary">
            <span><i class="fa fa-folder-open"></i></span>
            一共有 {{ .Site.Sections | len }} 个目录。
        </p>
        <hr />

        <div class="list-group col-sm-6 mt-5">
            {{ range .Site.Sections }}
            <a class="list-group-item list-group-item-action list-group-item-light justify-content-between align-items-center d-flex"
                href="{{.Permalink | safeURL}}">

                <span><i class="fa fa-folder-o me-2"></i>{{.Title}}</span>
                <span class="badge rounded-pill bg-primary">
                    {{.Data.Pages | len}}
                </span>
            </a>
            {{ end }}
        </div>

    </div>

    {{ partial "footer.html" . }}
</body>

</html>