<!-- 页面的顶部 -->
<!-- 主要是头图、导航栏 -->

{{ $base_url := .Site.BaseURL | safeURL }}

<!-- 大横幅 -->
<div class="fluid" style="background-image: url({{$base_url}}/images/head_bg.jpg); background-position: center 20%; background-size: cover;">
    <div class="wrap-center custom-jumbotron">

        {{with .Site.Title }}
        <p class="custom-jumbotron-para">{{.}}</p>
        {{end}}
    </div>
</div>

<!-- 顶部菜单栏 -->
<div class="sticky-top navmenu">

    <div class="wrap-center" style="display: flex; align-items: stretch; height: inherit;">

        <a class="navitem" href="{{$base_url}}">
            <i class="fa fa-home"></i> 首页
        </a>
        <div id="ddChapterGroup">
            <a class="navitem dropdown-toggle" id="ddChapter" href="{{$base_url}}categories">
                <i class="fa fa-file-text-o"></i> 文章分类
            </a>
            <div class="list-group" id="chapterList" style="opacity:0">
                {{ range .Site.Sections }}
                <a class="list-group-item" href="{{.Permalink | safeURL}}">
                    {{.Title}}
                    <span class="badge">
                        {{.Data.Pages | len}}
                    </span>
                </a>
                {{ end }}
            </div>
        </div>

        {{/*
        {{ if .IsPage }}
        {{ $section := .Site.GetPage .Section }}
        <a class="navitem" href="{{$section.Permalink | safeURL }}">返回章节</a>
        {{ end }}
        */}}

        <!-- flex-grow-1 获取剩余空间 -->
        <span style="flex-grow: 1; display: flex; flex-direction: row-reverse; align-items: center;">
            <a href="{{$base_url}}others/about">
                <img class="avatar-icon" src="{{$base_url}}images/avatar.jpg" alt="author">
            </a>

            {{ partial "dark-mode.html" . }}
        </span>

    </div>
</div>