<!-- 放在 html 标签的 head 头部 -->

{{ $base_url := .Site.BaseURL | safeURL }}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ .Title }}</title>
    <link rel="shortcut icon" href="{{$base_url}}favicon.ico" />
    <link rel="stylesheet" href="{{$base_url}}css/font-awesome.min.css" />
<!--    <link rel="stylesheet" href="{{$base_url}}css/bootstrap.min.css" />-->
    <link rel="stylesheet" href="{{$base_url}}css/custom.css" />

<!--    <script src="{{$base_url}}js/bootstrap.bundle.min.js"></script>-->
    <script src="{{$base_url}}js/custom.js" async></script>

    {{ if hasPrefix .Site.BaseURL "http://192.168." }}
    {{ else if hasPrefix .Site.BaseURL "http://127.0.0.1" }}
    
    {{ else }}
    <!-- 如果不是调试模式，则统计访问量 -->
    <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
    {{ end }}

</head>