:root {
    --primary: #744da8;
    --on-primary: white;
    --primary-container: #f6d9ff;
    --on-primary-container: #5b396d;
    --secondary: #4090d2;
    --on-secondary: white;
    --secondary-container: #f0dcf4;
    --on-secondary-container: #504255;
    
    --surface: #eee;
    --surface-bright: #fff;
    --surface-dim: #bbb;
    --on-surface: #333;
    --on-surface-variant: grey;
}

a {
    color: var(--secondary);
    text-decoration: none;
}
a:hover {
    color: var(--primary);
    border-bottom: 1px solid;
}
body {
    margin: 0;
    color: var(--on-surface);
    background-color: var(--surface);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-wrap: anywhere;
    word-break: break-all;
}
body.dark-mode {
    --primary: rgb(226 183 244);
    --on-primary: rgb(67 34 85);
    --primary-container: rgb(91 57 109);
    --on-primary-container: rgb(246 217 255);
    --secondary: rgb(211 192 216);
    --on-secondary: rgb(56 44 62);
    --secondary-container: rgb(80 66 85);
    --on-secondary-container: rgb(240 220 244);
    
    --surface: #444;
    --surface-bright: #666;
    --surface-dim: #333;
    --on-surface: #eee;
}
::selection {
    color: var(--primary-container);
    background-color: var(--primary);
}

.wrap-center {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 576px) {
  .wrap-center { max-width: 540px }
}
@media (min-width: 768px) {
  .wrap-center { max-width: 720px }
}
@media (min-width: 992px) {
  .wrap-center { max-width: 960px }
}
@media (min-width: 1200px) {
  .wrap-center { max-width: 1140px }
}
@media (min-width: 1400px) {
  .wrap-center { max-width: 1320px }
}

/*导航栏下面的大容器*/
.main-container {
    padding: 10px 10px 60px 10px;
    box-sizing: border-box;
}

/* -代替bootstrap的大屏幕- */
.custom-jumbotron {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 10rem;
}

.custom-jumbotron-para {
    color: white;
    text-shadow: 1px 0 black;
    font-weight: bold;
}

/* 导航栏菜单 */
.navmenu {
    background-color: var(--surface-dim);
    border-bottom: var(--surface-bright) 1px dashed;
    height: 3em;
}

.navitem {
    display: inline-block;
    color: var(--on-surface);
    padding: 13px 0.8rem;
    text-decoration: none;
}

.navitem:hover {
    color: var(--secondary-container);
    background-color: var(--on-secondary-container);
    border-bottom: none;
}

/*导航栏上 “文章分类” 按钮*/
#chapterList {
    display: flex;
    flex-direction: column;
    position: absolute;
    visibility: hidden;
    background: var(--surface);
    border: grey 1px;
    box-shadow: var(--surface-dim) 5px 8px 10px;
}
#chapterList > .list-group-item:not(:last-child) {
    border-bottom: 1px dotted #ccc;
}
/* 文章分类的下拉菜单 */
.list-group-item {
    padding: 10px;
    text-decoration: none;
}
.list-group-item:hover {
    color: var(--on-secondary);
    background-color: var(--secondary);
}
.badge {
    float: right;
    margin-left: 20px;
    padding: 0px 5px;
    border: 1px solid;
    border-radius: 50%;
    color: var(--on-primary);
    background: var(--primary);
}

.avatar-icon {
    width: 40px;
    margin: 0 12px;
    border-radius: 50%;
    border: var(--secondary) 1px solid;
}

.avatar-icon:hover {
    border: var(--primary) 1px solid;
}

/* 文章 */
.article-summary {
    color: var(--on-surface-variant);
}

.article-summary p {
    margin-top: 0;
    margin-bottom: 0;
}

.article-title {
    font-size: 1.5rem;
}

.article-title a {
    text-decoration: none;
}

.article-info {
    color: var(--on-surface-variant);
    font-size: small;
}

.article-info a {
    color: var(--on-surface-variant);
}

/* md文章中的图片 */
.md__image {
    max-width: 100vw;
    overflow-x: auto;
    display: grid;
    justify-items: center;
}

/* 翻页器 */
.paginator-area {
    display: grid;
    justify-content: left;
    margin-top: 2rem;
}

/* md正文 */
.article-content {
    margin-top: 2em;
    background-color: var(--surface);

/*    background-image: linear-gradient(to bottom, #f8f8f8 0, #eeeeee 1px, transparent 1px), linear-gradient(to right, #f8f8f8 0, #eeeeee 1px, transparent 1px);
    background-size: 1em 1em;*/
    /* background-repeat: repeat; */

    overflow: auto;
}

/*章节列表（有哪些目录）*/
.category-list {
    display: flex;
    flex-direction: column;
}

/* md正文标题 */
h1, h2, h3, h4, h5 {
    margin-top: 16px;
    margin-bottom: 8px;
}

.article-content h1 {
    display: none;
}

.article-content h2 {
    margin: 1em auto 2em auto;
    width: fit-content;
    position: relative;
}
.article-content h2:after {
    content: '';
    display: block;
    border-bottom: 1px solid;
    margin-top: 4px;
    color: var(--surface-dim);
}
/*.article-content h2:before {
    content: '⚝';
    display: block;
    position: absolute;
    top: 1.5em;
    bottom: 0;
    right: 50%;
    transform: translate(50%, 50%);
    color: var(--surface-dim);
}*/

.article-content h3 {
    position: relative;
    padding: 2px 12px;
    width: fit-content;
    z-index: 1;
}
.article-content h3:before {
    content: '';
    color: var(--on-secondary);
    background-color: var(--secondary-container);
    border: 1px solid;
    border-radius: 20px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

/* md代码块 */
.highlight pre {
    border: black 1px solid;
    border-radius: 5px;
    padding: 0.3em;
}

hr {
    border-style: dashed;
    color: var(--surface-bright);
}

strong {
    color: var(--primary);
}

code {
    font-family: Consolas, Monaco, SFMono-Regular, monospace;
}
/*行内代码*/
code:not(:has(*)) {
    background-color: var(--surface-dim);
    padding: 2px 4px;
    border-radius: 4px;
}

/* 表格边框及背景 */
table {
    /* border-top: #cacaca 1px solid; */
    border: #cacaca 1px solid;
    margin-bottom: 1em;
    width: 100%;
}

table td,
table th {
    border-bottom: #c3c3c3 1px dashed;
    border-right: #c3c3c3 1px dashed;
    padding: 5px;
}

table thead {
    background-color: #d0e7ff;
}

/* 表格隔行变色 */
tr:nth-child(odd) td {
    background-color: #ffffff;
}

tr:nth-child(even) td {
    background-color: #f2f2f2;
}

tr:hover td {
    background-color: #d0e7ff;
}


/* 引用 */
blockquote {
    border-left: 3px solid #4bb4f6;
    border-radius: 5px;
    background-color: #eeeeee;
    color: #808080;
    padding: 10 10 10 20;
    font-size: 0.9rem;
}

blockquote p {
    margin: 0;
}


.main-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px dashed var(--surface-bright);
    background-color: var(--surface-dim);
    color: var(--on-surface-variant);
    padding: 16px 0;
    margin-top: auto;
}

#busuanzi_container_site_pv {
    color: var(--surface-dim);
}